{{ form.non_field_errors }}
<table>
    <tr>
        <table class="table_background">
            {% for field in form %}
                <div class="form-group">
                    <tr>
                        <td><label
                                for="{{ field.id_for_label }}">{{ field.label }}<span>{{ field.errors }}</span></label>
                        </td>
                        <td>{{ field }}</td>
                    </tr>
                </div>
            {% endfor %}
        </table>
    </tr>
</table>