<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Midnight Order</title>
    <!-- Bootstrap -->
    {% if not user.is_authenticated %}
        <link rel="stylesheet" type="text/css" title="slate" href="/media/css/bootstrap.min.css">
    {% else %}
        {% if style == '2' %}
            <link rel="stylesheet" type="text/css" title="slate" href="/media/css/midnightorder.css">
        {% else %}
            <link rel="stylesheet" type="text/css" title="slate" href="/media/css/bootstrap.min.css">
        {% endif %}
    {% endif %}
    <link rel="Shortcut icon" href="/media/img/favicon.ico"/>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <!-- wowhead API -->
    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <!-- Scripts -->
    <script src="/media/js/analytics.js"></script>
    <script src="/media/js/cookie.js"></script>
    <!-- Add jQuery library -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/media/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/media/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/media/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/media/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css"
          media="screen"/>
    <script type="text/javascript" src="/media/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/media/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <link rel="stylesheet" href="/media/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css"
          media="screen"/>
    <script type="text/javascript" src="/media/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
</head>

<body>
<script>
    $(document).ready(function () {
        $("img").each(function () {
            var image = $(this);
            if (image.width() > 100) {
                $(this).replaceWith("<a class='fancybox' rel='group' href='" + $(this).attr("src") + "'>" + "<img src='" + $(this).attr("src") + "' style='width: 100%';/>" + "</a>");
            }
        })
    });
</script>
<script src="/media/js/bootstrap.min.js"></script>
{% if  messages_inbox_count  > 0 %}
    <div class="alert alert-info alert-dismissible informationbar" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <strong>Information!</strong> You've got <a href="/messages">{{ messages_inbox_count }}</a> unread messages.
    </div>
{% endif %}

<div class="div-pos">
    {% if not user.is_authenticated %}
        <div class="navigation-bar">
    {% else %}
        <div class="foo">
    {% endif %}
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/policies">Policies</a></li>
        <li><a href="/forums">Forum</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/recruitment">Recruitment</a></li>
        {% if not user.is_authenticated %}
            <li><a href="/login">Log in</a></li>
        {% else %}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/messages">Inbox</a></li>
            <li><a href="/log-out">Log out</a></li>
        {% endif %}
    </ul>
    </div>
    </div>
    {% block sidebar %}
    {% endblock %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right ">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block progressbar %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="foo3">
                                <tr>
                                    <h6>
                                        <td><a href="/contact-us"> Contact Us</a></td>
                                        <td><a href="/credits">Credits</a></td>
                                        <td><a href="/terms-of-service"> Terms of service</a></td>
                                        <td><a href="/privacy-cookies-policy"> Cookie policies</a></td>
                                        <td><a href="#"> Top</a></td>
                                        <td><a href="/rss"> <img src="/media/img/rss.png" width=12 height=12/></a></td>
                                        <td><a href="http://www.warcraftlogs.com/guilds/13339/" target="wolName"> <img
                                                src="/media/img/wol.png" width=12 height=12/></a></td>
                                    </h6>
                                </tr>
                                <h6>Website software by Sedi©2014. All rights reserved.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
</body>
</html>