<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Midnight Order</title>
    <!-- Bootstrap -->
    {% if not user.is_authenticated %}
        <link rel="stylesheet" type="text/css" title="slate" href="/media/css/bootstrap.min.css">
    {% else %}
        {% if style == '2' %}
            <link rel="stylesheet" type="text/css" title="slate" href="/media/css/midnightorder.css">
        {% else %}
            <link rel="stylesheet" type="text/css" title="slate" href="/media/css/bootstrap.min.css">
        {% endif %}
    {% endif %}
    <!-- Recaptcha & icon -->
    <link rel="Shortcut icon" href="/media/img/favicon.ico"/>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <!-- wowhead API -->
    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/media/js/analytics.js"></script>
    <script src="/media/js/cookie.js"></script>
    <script src="/media/js/fancybox.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <!-- FancyBox -->
    <script type="text/javascript" src="/media/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" href="/media/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/media/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <link rel="stylesheet" href="/media/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css"
          media="screen"/>
    <script type="text/javascript" src="/media/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/media/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <link rel="stylesheet" href="/media/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css"
          media="screen"/>
    <script type="text/javascript" src="/media/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <!-- Alertify -->
    <script src="/media/js/alertify.min.js"></script>
    <link rel="stylesheet" href="/media/css/alertify.core.css"/>
    <link rel="stylesheet" href="/media/css//alertify.default.css"/>
</head>
<body>
<!-- Notification script for messages -->
<script>
    var counter = {{ messages_inbox_count }};
    $(document).ready(function () {
        auto_refresh();
    });
    function auto_refresh() {
        $.ajax({
            url: '/ajax_test',
            type: 'get',
            success: function (data) {
                if (data != counter) {
                    alertify.set({ delay: 500000 });
                    alertify.success("You've received new message.");
                    counter = data;
                }
            }
        });
    }
    var refreshId = setInterval(auto_refresh, 10000);
</script>
<!-- Notification script for upvotes -->
<script>
    var counter_upvote = {{ post_rating_count }};
    $(document).ready(function () {
        auto_refresh_upvote();
    });
    function auto_refresh_upvote() {
        $.ajax({
            url: '/ajax_upvote',
            type: 'get',
            success: function (data) {
                if (data != counter_upvote) {
                    alertify.set({ delay: 500000 });
                    alertify.success("One of your posts got rated.");
                    counter_upvote = data;
                }
            }
        });
    }
    var refreshId2 = setInterval(auto_refresh_upvote, 10000);
</script>

<div class="div-pos" style="overflow: visible;">
    {% if not user.is_authenticated %}
        <div class="navigation-bar" style="overflow: visible;">
    {% else %}
        <div class="foo" style="overflow: visible;">
    {% endif %}
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/policies">Policies</a></li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Forum <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/forums">Forum</a></li>
                <li class="divider"></li>
                <li><a href="/forums/new_content/">View new content</a></li>
            </ul>
        </li>
        <li><a href="/members">Members</a></li>
        <li><a href="/recruitment">Recruitment</a></li>
        {% if not user.is_authenticated %}
            <li><a href="/login">Log in</a></li>
        {% else %}
            <li><a href="/profile">Profile</a></li>
            {% if  messages_inbox_count > 0 %}
                <li><a href="/messages">Inbox <span class="badge">{{ messages_inbox_count }}</span></a></li>
            {% else %}
                <li><a href="/messages">Inbox</a></li>
            {% endif %}
            <li><a href="/log-out">Log out</a></li>
        {% endif %}
    </ul>
    </div>
    </div>
    {% block sidebar %}
    {% endblock %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right ">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block progressbar %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="foo3">
                                <tr>
                                    <h6>
                                        <td><a href="/contact-us"> Contact Us</a></td>
                                        <td><a href="/credits">Credits</a></td>
                                        <td><a href="/terms-of-service"> Terms of service</a></td>
                                        <td><a href="/privacy-cookies-policy"> Cookie policies</a></td>
                                        <td><a href="#"> Top</a></td>
                                        <td><a href="/rss"> <img src="/media/img/rss.png" width=12 height=12/></a></td>
                                        <td><a href="http://www.warcraftlogs.com/guilds/13339/" target="wolName"> <img
                                                src="/media/img/wol.png" width=12 height=12/></a></td>
                                    </h6>
                                </tr>
                                <h6>Website software by Sedi©2014. All rights reserved.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
</body>
</html>