{% extends "creation/base.html" %}
{% block content %}
    <div class="foo">
        {% if not user.is_authenticated %}
            <p></p>
            <fieldset>
                <form method="post" action=".">{% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn" type="hidden" name="next" value="/"/>
                    <input class="btn btn-primary " type="submit" value="Sign in"/> <input
                            class="btn" type="reset" value="Defaults"/>
                </form>
                Need new account? <a href="/register">Register Here</a>
            </fieldset>
        {% else %}
            <h4>You're already logged in.</h4>
        {% endif %}
    </div>
{% endblock %}
