{% extends "creation/base_nobar.html" %}
{% block content %}
    {% load i18n %}
    {% for category in category_list %}
        {% if category.name == "Public Forums" or user.is_authenticated and user.groups.all.0.name != "Initiate" and category.name != "Forum: Restricted forums" or category.name == "Forum: Restricted forums" and forum.name != "Officer's Chat" and user.groups.all.0.name == "Leader" or user.groups.all.0.name == "Officer" %}
            <table class="table">
                <thead>
                <tr class="active">
                    <th colspan="2"><a name="{{ category.id }}">{{ category.name }}</a></th>
                    <td><b></b></td>
                    <td><b></b></td>
                    <td><b></b></td>
                </tr>
                </thead>
                <tbody>
                {% for forum in category.forums.all %}
                    {% if forum.name == "Officer's Chat" and user.groups.all.0.name == "Leader" %}
                    {% else %}
                        <tr>
                            <td style="width: 14px;"><i class="icon-circle-arrow-right"
                                                        style="margin-top: 1px;"></i></td>
                            <td style="width: 70%;">
                                {% for v in view_categories %}
                                    {% if v.forum.name == forum.name and v.view.visited == False %}
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    {% endif %}
                                {% endfor %}
                                <a href="{% url 'forums:forum' forum.id %}">{{ forum.name }}</a>

                                <p class="margin_forum">
                                    <small>
                                        {{ forum.description }}
                                    </small>
                                </p>
                            </td>
                            <td>
                                <p></p>
                                {{ forum.count_topics }} topics
                                <p>{{ forum.count_posts }} posts</p>
                            </td>
                            <td>
                                <table style="Background:None">
                                    <tr>
                                        <td>
                                            <a href="/messages/compose/{{ forum.get_latest_poster }}"><img
                                                    src="/media/{{ forum.get_latest_poster.avatar }}"
                                                    onerror="this.src='/media/img/logo3.jpg';"
                                                    alt="" width=50 height=50 class="img-rounded"
                                                    alt="avatar"></a>
                                        </td>
                                        <td>
                                            {% if  forum.get_latest_topic %}
                                                <a href="/forums/topic/{{ forum.get_latest_topic.id }}/page{{ forum.get_latest_topic.posts_range|last }}">{{ forum.get_latest_topic|truncatechars:25 }}</a>
                                            {% else %}
                                                {{ forum.get_latest_topic|truncatechars:25 }}
                                            {% endif %}
                                            <small>
                                                <p class="margin_forum">By <a
                                                        href="/messages/compose/{{ forum.get_latest_poster }}">{{ forum.get_latest_poster }}</a>
                                                </p>

                                                <p class="margin forum">{{ forum.get_latest_topic.last_post.updated }}</p>
                                            </small>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>    
        {% else %}
        {% endif %}
    {% endfor %}
{% endblock %}