<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Midnight Order - Forum</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" title="slate" href="/media/css/bootstrap.min.css">
    <link rel="Shortcut icon" href="/media/img/favicon.ico"/>
    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <!-- Scripts -->
    <script src="/media/js/scripts2.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/media/js/jquery/jquery.cookie.js"></script
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/jquery_css.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/cookie.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55403967-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>
<script src="/media/js/bootstrap.min.js"></script>
<div id="nav" class="btn-group butn-pos">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Change style
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" rel="/media/css/bootstrap.min.css">Default CSS</a></li>
        <li><a href="#" rel="/media/css/yeti.css">Yeti</a></li>
        <li><a href="#" rel="/media/css/cerulean.css">Cerulean</a></li>
        <li><a href="#" rel="/media/css/cosmo.css">Cosmo</a></li>
        <li><a href="#" rel="/media/css/cyborg.css">Cyborg</a></li>
        <li><a href="#" rel="/media/css/darkly.css">Darkly</a></li>
        <li><a href="#" rel="/media/css/flatly.css">Flatly</a></li>
        <li><a href="#" rel="/media/css/journal.css">Journal</a></li>
        <li><a href="#" rel="/media/css/lumen.css">Lumen</a></li>
        <li><a href="#" rel="/media/css/readable.css">Readable</a></li>
        <li><a href="#" rel="/media/css/simplex.css">Simplex</a></li>
        <li><a href="#" rel="/media/css/spacelab.css">Spacelab</a></li>
        <li><a href="#" rel="/media/css/superhero.css">Superhero</a></li>
        <li><a href="#" rel="/media/css/united.css">United</a></li>
    </ul>
</div>
{% if  messages_inbox_count  > 0 %}
    <a href="/messages">You've got {{ messages_inbox_count }} unread messages.</a>
{% endif %}
<div class="div-pos">
    <div class="foo">
        <ul class="nav nav-pills">
            <li><a href="/">Home</a></li>
            <li><a href="/policies">Policies</a></li>
            <li class="active"><a href="/forums">Forum</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/recruitment">Recruitment</a></li>
            {% if not user.is_authenticated %}
                <li><a href="/login">Log in</a></li>
            {% else %}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/messages">Inbox</a></li>
                <li><a href="/log-out">Log out</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% load i18n %}
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li><a href="{% url 'forums:overview' %}">{% trans "Forums" %}</a></li>
                            <li>
                                <a href="{% url 'forums:overview' %}#{{ forum.category.id }}">{{ forum.category.name }}</a>
                            </li>
                            <li class="active">{{ forum.name }}</li>
                        </ol>
                    {% endblock %}
                    {% block content %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2">{% trans "Topics" %}</th>
                                <td>{% trans "Last Poster" %}</td>
                                <td>{% trans "Replies" %}</td>
                                <td>{% trans "Views" %}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if user.groups.all.0.name == "Officer" and forum.category.name == "Officer Chat" %}
                                {% for topic in forum.topics.all %}
                                    <tr>
                                        <td style="width: 14px;"><i class="icon-circle-arrow-right"
                                                                    style="margin-top: 1px;"></i></td>
                                        <td style="width: 70%;">
                                            <a href="{% url 'forums:topic' topic.id %}">{{ topic.name }}</a>
                                        </td>
                                        <td>{{ topic.last_post.user.username }}</td>
                                        <td>{{ topic.count_posts }}</td>
                                        <td>0</td>
                                    </tr>
                                {% empty %}
                                    {% if forum.is_closed %}
                                        <tr>
                                            <td colspan="5">{% trans "No topics in this forum, only admins can create and post here." %}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">{% trans "No topics in this forum, create one :)" %}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if forum.category.name != "Officer Chat" %}
                                {% for topic in forum.topics.all %}
                                    <tr>
                                        <td style="width: 14px;"><i class="icon-circle-arrow-right"
                                                                    style="margin-top: 1px;"></i></td>
                                        <td style="width: 70%;">
                                            <a href="{% url 'forums:topic' topic.id %}">{{ topic.name }}</a>
                                        </td>
                                        <td>{{ topic.last_post.user.username }}</td>
                                        <td>{{ topic.count_posts }}</td>
                                        <td>0</td>
                                    </tr>
                                {% empty %}
                                    {% if forum.is_closed %}
                                        <tr>
                                            <td colspan="5">{% trans "No topics in this forum, only admins can create and post here." %}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">{% trans "No topics in this forum, create one :)" %}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        {% if user.groups.all.0.name == "Officer" and forum.category.name == "Officer Chat" %}
                            {% if not forum.is_closed or user.is_staff %}
                                <p><a href="{% url 'forums:topic_create' forum.id %}"
                                      class="btn btn-primary">{% trans "Create topic" %}</a></p>
                            {% endif %}
                        {% endif %}
                        {% if forum.category.name != "Officer Chat" %}
                            {% if not forum.is_closed or user.is_staff %}
                                <p><a href="{% url 'forums:topic_create' forum.id %}"
                                      class="btn btn-primary">{% trans "Create topic" %}</a></p>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/media/js/scripts.js"></script>
<footer>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="foo">
                            <tr>
                                <h6>
                                    <td><a href="/contact-us"> Contact Us</a></td>
                                    <td><a href="/credits">Credits</a></td>
                                    <td><a href="/terms-of-service"> Terms of service</a></td>
                                    <td><a href="/privacy-cookies-policy"> Cookie policies</a></td>
                                    <td><a href="#"> Top</a></td>
                                    <td><a href="/rss"> <img src="/media/img/rss.png" width=12 height=12/></a></td>
                                    <td><a href="http://www.warcraftlogs.com/guilds/13339/" target="wolName"> <img
                                            src="/media/img/wol.png" width=12 height=12/></a></td>
                                </h6>
                            </tr>
                            <h6>Website software by Sedi©2014-2014. All rights reserved.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>