{% extends "base.html" %}
{% block content %}
    {% load i18n %}
    {% block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="{% url 'forums:overview' %}">{% trans "Forums" %}</a></li>
            <li>
                <a href="{% url 'forums:overview' %}#{{ forum.category.id }}">{{ forum.category.name }}</a>
            </li>
            <li class="active">{{ forum.name }}</li>
        </ol>
    {% endblock %}
    <table class="table">
        <thead>
        <tr>
            <th colspan="2">{% trans "Topics" %}</th>
            <td>{% trans "Last Poster" %}</td>
            <td>{% trans "Replies" %}</td>
            <td>{% trans "Views" %}</td>
        </tr>
        </thead>
        <tbody>
        {% if not user.is_authenticated  or user.groups.all.0.name == "Initiate" %}
            {% if forum.category.name == "Public Forums" %}
                {% for topic in forum.topics.all %}
                    <tr>
                        <td style="width: 14px;"><i class="icon-circle-arrow-right"
                                                    style="margin-top: 1px;"></i></td>
                        <td style="width: 70%;">
                            <a href="{% url 'forums:topic' topic.id %}">{{ topic.name }}</a>
                        </td>
                        <td>{{ topic.last_post.user.user.username }}</td>
                        <td>{{ topic.count_posts }}</td>
                        <td>{{ topic.counter }}</td>
                    </tr>
                {% empty %}
                    {% if forum.is_closed %}
                        <tr>
                            <td colspan="5">{% trans "No topics in this forum, only admins can create and post here." %}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{% trans "No topics in this forum, create one :)" %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% if user.groups.all.0.name == "Officer" or user.groups.all.0.name == "Leader" and forum.category.name == "Forum: Restricted forums" %}
                {% if forum.name == "Officer's Chat" and user.groups.all.0.name == "Leader" %}
                {% else %}
                    {% for topic in forum.topics.all %}
                        <tr>
                            <td style="width: 14px;"><i class="icon-circle-arrow-right"
                                                        style="margin-top: 1px;"></i></td>
                            <td style="width: 70%;">
                                <a href="{% url 'forums:topic' topic.id %}">{{ topic.name }}</a>
                            </td>
                            <td>{{ topic.last_post.user.user.username }}</td>
                            <td>{{ topic.count_posts }}</td>
                            <td>{{ topic.counter }}</td>
                        </tr>
                    {% empty %}
                        {% if forum.is_closed %}
                            <tr>
                                <td colspan="5">{% trans "No topics in this forum, only admins can create and post here." %}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">{% trans "No topics in this forum, create one :)" %}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {% if user.groups.all.0.name != "Officer" and user.groups.all.0.name != "Leader" and forum.category.name == "Forum: Restricted forums" %}
                {% else %}
                    {% for topic in forum.topics.all %}
                        <tr>
                            <td style="width: 14px;"><i class="icon-circle-arrow-right"
                                                        style="margin-top: 1px;"></i></td>
                            <td style="width: 70%;">
                                <a href="{% url 'forums:topic' topic.id %}">{{ topic.name }}</a>
                            </td>
                            <td>{{ topic.last_post.user.user.username }}</td>
                            <td>{{ topic.count_posts }}</td>
                            <td>{{ topic.counter }}</td>
                        </tr>
                    {% empty %}
                        {% if forum.is_closed %}
                            <tr>
                                <td colspan="5">{% trans "No topics in this forum, only admins can create and post here." %}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">{% trans "No topics in this forum, create one :)" %}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}
        </tbody>
    </table>
    {% if not user.is_authenticated  or user.groups.all.0.name == "Initiate" %}
        {% if forum.category.name == "Public Forums" %}
            {% if not forum.is_closed or user.is_staff %}
                <p><a href="{% url 'forums:topic_create' forum.id %}"
                      class="btn btn-primary">{% trans "Create topic" %}</a></p>
            {% endif %}
        {% endif %}
    {% else %}
        {% if user.groups.all.0.name == "Officer" or user.groups.all.0.name == "Leader" %}
            {% if forum.name == "Officer's Chat" and user.groups.all.0.name == "Leader" %}
            {% else %}
                {% if not forum.is_closed or user.is_staff %}
                    <p><a href="{% url 'forums:topic_create' forum.id %}"
                          class="btn btn-primary">{% trans "Create topic" %}</a></p>
                {% endif %}
            {% endif %}
        {% else %}
            {% if user.groups.all.0.name != "Officer" and user.groups.all.0.name != "Leader" and forum.category.name != "Forum: Restricted forums" %}
                {% if not forum.is_closed or user.is_staff %}
                    <p><a href="{% url 'forums:topic_create' forum.id %}"
                          class="btn btn-primary">{% trans "Create topic" %}</a></p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}