<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Midnight Order - Forum</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" title="slate" href="/media/css/bootstrap.min.css">
    <link rel="Shortcut icon" href="/media/img/favicon.ico"/>
    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <!-- Scripts -->
    <script src="/media/js/scripts2.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/media/js/jquery/jquery.cookie.js"></script
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/jquery_css.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/cookie.js"></script>
</head>

<body>
<script src="/media/js/bootstrap.min.js"></script>
<div id="nav" class="btn-group butn-pos">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Change style
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" rel="/media/css/bootstrap.min.css">Default CSS</a></li>
        <li><a href="#" rel="/media/css/yeti.css">Yeti</a></li>
        <li><a href="#" rel="/media/css/cerulean.css">Cerulean</a></li>
        <li><a href="#" rel="/media/css/cosmo.css">Cosmo</a></li>
        <li><a href="#" rel="/media/css/cyborg.css">Cyborg</a></li>
        <li><a href="#" rel="/media/css/darkly.css">Darkly</a></li>
        <li><a href="#" rel="/media/css/flatly.css">Flatly</a></li>
        <li><a href="#" rel="/media/css/journal.css">Journal</a></li>
        <li><a href="#" rel="/media/css/lumen.css">Lumen</a></li>
        <li><a href="#" rel="/media/css/readable.css">Readable</a></li>
        <li><a href="#" rel="/media/css/simplex.css">Simplex</a></li>
        <li><a href="#" rel="/media/css/spacelab.css">Spacelab</a></li>
        <li><a href="#" rel="/media/css/superhero.css">Superhero</a></li>
        <li><a href="#" rel="/media/css/united.css">United</a></li>
    </ul>
</div>
{% if logged_out %}
    <div class="alert alert-success alert-dismissable foo2">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Success!</strong> You've logged out properly.
    </div>
{% endif %}
<div class="div-pos">
    <div class="foo">
        <ul class="nav nav-pills">
            <li><a href="/">Home</a></li>
            <li><a href="/policies">Policies</a></li>
            <li class="active"><a href="/forums">Forum</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/recruitment">Recruitment</a></li>
            {% if not user.is_authenticated %}
                <li><a href="/login">Log in</a></li>
            {% else %}
                <li><a href="/log-out">Log out</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% load i18n %}
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li><a href="{% url 'forums:overview' %}">{% trans "Forums" %}</a></li>
                            <li>
                                <a href="{% url 'forums:overview' %}#{{ topic.forum.category.id }}">{{ topic.forum.category.name }}</a>
                            </li>
                            <li><a href="{% url 'forums:forum' topic.forum.id %}">{{ topic.forum.name }}</a></li>
                            <li class="active">{{ topic.name }}</li>
                        </ol>
                    {% endblock %}

                    {% block content %}
                        {% if user.groups.all.0.name == "Officer" and topic.forum.category.name == "Officer Forums" %}
                            {% for post in topic.posts.all %}
                                <div class="row">
                                    <div class="span3">
                                        <div class="thumbnail pull-left" style="margin-right: 15px;">
                                            <img src="http://placehold.it/64x64" alt="avatar">
                                        </div>
                                        <div>
                                            <p>{{ post.user.username }}</p>
                                        </div>
                                    </div>
                                    <div class="span7">
                                        <div>
                                            {{ post.body|safe|linebreaks }}
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div class="span2">
                                        <p class="pull-right">
                                            <small><a href="#{{ forloop.counter }}"
                                                      name="{{ forloop.counter }}">#{{ forloop.counter }}</a></small>
                                        </p>
                                        <p class="pull-right">
                                            <small>{{ post.created }}</small>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        {% endif %}
                        {% if topic.forum.category.name != "Officer Forums" %}
                            {% for post in topic.posts.all %}
                                <div class="row">
                                    <div class="span3">
                                        <div class="thumbnail pull-left" style="margin-right: 15px;">
                                            <img src="/media/{{ now }}" alt="avatar">
                                        </div>
                                        <div>
                                            <p>{{ post.user.username }}</p>
                                        </div>
                                    </div>
                                    <div class="span7">
                                        <div>
                                            {{ post.body|safe|linebreaks }}
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div class="span2">
                                        <p class="pull-right">
                                            <small><a href="#{{ forloop.counter }}"
                                                      name="{{ forloop.counter }}">#{{ forloop.counter }}</a></small>
                                        </p>
                                        <p class="pull-right">
                                            <small>{{ post.created }}</small>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        {% endif %}
                        <div class="row">
                            <div class="span12">
                                {% if user.groups.all.0.name == "Officer" and topic.forum.category.name == "Officer Forums" %}
                                    {% if not topic.forum.is_closed or user.is_staff %}
                                        <p><a href="{% url 'forums:post_create' topic.id %}"
                                              class="btn btn-primary">{% trans "Create post" %}</a></p>
                                    {% else %}
                                        <p>{% trans "This forum is closed, only admins can create and post here." %}
                                    {% endif %}
                                {% endif %}
                                {% if topic.forum.category.name != "Officer Forums" %}
                                    {% if not topic.forum.is_closed or user.is_staff %}
                                        <p><a href="{% url 'forums:post_create' topic.id %}"
                                              class="btn btn-primary">{% trans "Create post" %}</a></p>
                                    {% else %}
                                        <p>{% trans "This forum is closed, only admins can create and post here." %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/media/js/scripts.js"></script>
<footer>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="foo">
                            <tr>
                                <h6>
                                    <td><a href="/contact-us"> Contact Us</a></td>
                                    <td><a href="/terms-of-service"> Terms of service</a></td>
                                    <td><a href="/privacy-cookies-policy"> Cookie policies</a></td>
                                    <td><a href="#"> Top</a></td>
                                    <td><a href="/rss"> <img src="/media/img/rss.png" width=12 height=12/></a></td>
                                    <td><a href="http://www.worldoflogs.com/guilds/184354/" target="wolName"> <img
                                            src="/media/img/wol.png" width=12 height=12/></a></td>
                                </h6>
                            </tr>
                            <h6>Website software by Sedi©2014-2014. All rights reserved.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>