{% extends "creation/base.html" %}

{% load i18n %}
{% block content %}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas sidebar-nav" id="sidebar" role="navigation">
        <div class="list-group">
            <a href="{% url 'messages_inbox' %} " class="list-group-item">
                <div class="sidebar">Inbox</div>
            </a>
            <a href="{% url 'messages_outbox' %} " class="list-group-item">
                <div class="sidebar">Sent Messages</div>
            </a>
            <a href="{% url 'messages_compose' %} " class="list-group-item">
                <div class="sidebar">New Message</div>
            </a>
            <a href="{% url 'messages_trash' %}" class="list-group-item">
                <div class="sidebar">Trash</div>
            </a>
        </div>
    </div>
    <h1>{% trans "Compose Message" %}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans "Send" %} &raquo;"/>
    </form>

{% endblock %}