{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas sidebar-nav" id="sidebar" role="navigation">
        <div class="list-group">
            <a href="{% url 'messages_inbox' %} " class="list-group-item">
                <div class="sidebar">Inbox</div>
            </a>
            <a href="{% url 'messages_outbox' %} " class="list-group-item">
                <div class="sidebar">Sent Messages</div>
            </a>
            <a href="{% url 'messages_compose' %} " class="list-group-item">
                <div class="sidebar">New Message</div>
            </a>
            <a href="{% url 'messages_trash' %}" class="list-group-item">
                <div class="sidebar">Trash</div>
            </a>
        </div>
    </div>
    <h1>{% trans "View Message" %}</h1>
    <dl class="message-headers">
        <dt>{% trans "Subject" %}</dt>
        <dd>{{ message.subject }}</dd>
        <dt>{% trans "Sender" %}</dt>
        <dd>{{ message.sender }}</dd>
        <dt>{% trans "Date" %} </dt>
        <dd>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</dd>
        <dt>{% trans "Recipient" %}</dt>
        <dd>{{ message.recipient }}</dd>
    </dl>
    {{ message.body|linebreaksbr|urlize }}<br/><br/>

    {% ifequal message.recipient.pk user.pk %}
        <a href="{% url 'messages_reply' message.id %}">{% trans "Reply" %}</a>
    {% endifequal %}
    <a href="{% url 'messages_delete' message.id %}">{% trans "Delete" %}</a>
{% endblock %}