<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Midnight Order - Contact Us</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" title="slate" href="/media/css/bootstrap.min.css">
    <link rel="Shortcut icon" href="/media/img/favicon.ico"/>
    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <!-- Scripts -->
    <script src="/media/js/scripts2.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/media/js/jquery/jquery.cookie.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/jquery_css.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/cookie.js"></script>
</head>
<body>
<script src="/media/js/bootstrap.min.js"></script>
<div id="nav" class="btn-group butn-pos">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Change style
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" rel="/media/css/bootstrap.min.css">Default CSS</a></li>
        <li><a href="#" rel="/media/css/yeti.css">Yeti</a></li>
        <li><a href="#" rel="/media/css/cerulean.css">Cerulean</a></li>
        <li><a href="#" rel="/media/css/cosmo.css">Cosmo</a></li>
        <li><a href="#" rel="/media/css/cyborg.css">Cyborg</a></li>
        <li><a href="#" rel="/media/css/darkly.css">Darkly</a></li>
        <li><a href="#" rel="/media/css/flatly.css">Flatly</a></li>
        <li><a href="#" rel="/media/css/journal.css">Journal</a></li>
        <li><a href="#" rel="/media/css/lumen.css">Lumen</a></li>
        <li><a href="#" rel="/media/css/readable.css">Readable</a></li>
        <li><a href="#" rel="/media/css/simplex.css">Simplex</a></li>
        <li><a href="#" rel="/media/css/spacelab.css">Spacelab</a></li>
        <li><a href="#" rel="/media/css/superhero.css">Superhero</a></li>
        <li><a href="#" rel="/media/css/united.css">United</a></li>
    </ul>
</div>
{% if  messages_inbox_count  > 0 %}
    <a href="/messages">You've got {{ messages_inbox_count }} unread messages.</a>
{% endif %}
<div class="div-pos">
    <div class="foo">
        <ul class="nav nav-pills">
            <li><a href="/">Home</a></li>
            <li><a href="/policies">Policies</a></li>
            <li><a href="/forums">Forum</a></li>
            <li>
            <li><a href="/members">Members</a></li>
            <li><a href="/recruitment">Recruitment</a></li>
            {% if not user.is_authenticated %}
                <li><a href="/login">Log in</a></li>
            {% else %}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/messages">Inbox</a></li>
                <li><a href="/log-out">Log out</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body foo">
                        <p></p>
                        {{ csrftoken }}
                        <form action="/contact-us/" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <table class="table_background">
                                <tr>
                                    <div class="fieldWrapper">
                                        {{ form.subject.errors }}
                                        {{ subject_error }}
                                        <td><label for="id_subject">Email subject: </label></td>
                                        <td>{{ form.subject }}</td>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="fieldWrapper">
                                        {{ form.message.errors }}
                                        <td><label for="id_message">Your message: </label></td>
                                        <td>{{ form.message }}</td>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="fieldWrapper">
                                        {{ form.sender.errors }}
                                        <td><label for="id_sender">Your email address: &nbsp </label></td>
                                        <td>{{ form.sender }}</td>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="fieldWrapper">
                                        {{ form.cc_myself.errors }}
                                        <td><label for="id_cc_myself">CC yourself? </label></td>
                                        <td>{{ form.cc_myself }}</td>
                                    </div>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" class="btn btn-default" value="Send message"/></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/media/js/scripts.js"></script>
</div>
<footer>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="foo">
                            <tr>
                                <h6>
                                    <td><a href="/contact-us"> Contact Us</a></td>
                                    <td><a href="/credits">Credits</a></td>
                                    <td><a href="/terms-of-service"> Terms of service</a></td>
                                    <td><a href="/privacy-cookies-policy"> Cookie policies</a></td>
                                    <td><a href="#"> Top</a></td>
                                    <td><a href="/rss"> <img src="/media/img/rss.png" width=12 height=12/></a></td>
                                    <td><a href="http://www.warcraftlogs.com/guilds/13339/" target="wolName"> <img
                                            src="/media/img/wol.png" width=12 height=12/></a></td>
                                </h6>
                            </tr>
                            <h6>Website software by Sedi©2014-2014. All rights reserved.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>