{% extends "base.html" %}
{% block content %}
    <div class="panel-body foo">
        <h1>Contact Us</h1>
        <hr>
        {{ csrftoken }}
        <form action="/contact-us/" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <table class="table_background">
                <tr>
                    <div class="fieldWrapper">
                        {{ form.subject.errors }}
                        {{ subject_error }}
                        <td><label for="id_subject">Email subject: </label></td>
                        <td>{{ form.subject }}</td>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        {{ form.message.errors }}
                        <td><label for="id_message">Your message: </label></td>
                        <td>{{ form.message }}</td>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        {{ form.sender.errors }}
                        <td><label for="id_sender">Your email address: &nbsp </label></td>
                        <td>{{ form.sender }}</td>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        {{ form.cc_myself.errors }}
                        <td><label for="id_cc_myself">CC yourself? </label></td>
                        <td>{{ form.cc_myself }}</td>
                    </div>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-default" value="Send message"/></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
