<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Midnight Order - Cookies Policies</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" title="slate" href="/media/css/bootstrap.min.css">
    <link rel="Shortcut icon" href="/media/img/favicon.ico"/>
    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <!-- Scripts -->
    <script src="/media/js/scripts2.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/media/js/jquery/jquery.cookie.js"></script
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/jquery_css.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/cookie.js"></script>
</head>

<body>
<script src="/media/js/bootstrap.min.js"></script>
<div id="nav" class="btn-group butn-pos">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Change style
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" rel="/media/css/bootstrap.min.css">Default CSS</a></li>
        <li><a href="#" rel="/media/css/yeti.css">Yeti</a></li>
        <li><a href="#" rel="/media/css/cerulean.css">Cerulean</a></li>
        <li><a href="#" rel="/media/css/cosmo.css">Cosmo</a></li>
        <li><a href="#" rel="/media/css/cyborg.css">Cyborg</a></li>
        <li><a href="#" rel="/media/css/darkly.css">Darkly</a></li>
        <li><a href="#" rel="/media/css/flatly.css">Flatly</a></li>
        <li><a href="#" rel="/media/css/journal.css">Journal</a></li>
        <li><a href="#" rel="/media/css/lumen.css">Lumen</a></li>
        <li><a href="#" rel="/media/css/readable.css">Readable</a></li>
        <li><a href="#" rel="/media/css/simplex.css">Simplex</a></li>
        <li><a href="#" rel="/media/css/spacelab.css">Spacelab</a></li>
        <li><a href="#" rel="/media/css/superhero.css">Superhero</a></li>
        <li><a href="#" rel="/media/css/united.css">United</a></li>
    </ul>
</div>
{% if  messages_inbox_count  > 0 %}
    <a href="/messages">You've got {{ messages_inbox_count }} unread messages.</a>
{% endif %}
<div class="div-pos">
    <div class="foo">
        <ul class="nav nav-pills">
            <li><a href="/">Home</a></li>
            <li><a href="/policies">Policies</a></li>
            <li><a href="/forums">Forum</a></li>
            <li>
            <li><a href="/members">Members</a></li>
            <li><a href="/recruitment">Recruitment</a></li>
            {% if not user.is_authenticated %}
                <li><a href="/login">Log in</a></li>
            {% else %}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/messages">Inbox</a></li>
                <li><a href="/log-out">Log out</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="page-header">
                            <h1>Cookies Policy</h1>
                        </div>
                        <h2>About cookies</h2>

                        <p>Cookies are information packets sent by web servers to web browsers, and stored by the web
                            browsers.</p>

                        <p>The information is then sent back to the server each time the browser requests a page from
                            the server. This enables a web server to identify and track web browsers.</p>

                        <p>There are two main kinds of cookies: session cookies and persistent cookies. Session cookies
                            are deleted from your computer when you close your browser, whereas persistent cookies
                            remain stored on your computer until deleted, or until they reach their expiry date.
                        <hr>
                        <h2>About this cookies policy</h2>

                        <p>We created this cookies policy with the help of a free cookies policy precedent developed by
                            Contractology and available at www.freenetlaw.com. Contractology supply a range of
                            commercial contracts and other legal documents, such as template sales terms and
                            conditions.</p>
                        <hr>
                        <h2>Cookies on our website</h2>

                        <p><em>Midnight Order</em> uses the following cookies on this website, for the following
                            purposes:</p>
                        <li>Registration and maintaining your preferences. This includes ensuring that you can stay
                            logged in and keeping the site in the language or appearance that you requested.
                        </li>
                        <li>Advertising cookies (possibly third-party). If this site displays advertising, cookies may
                            be set by the advertisers to determine who has viewed an ad or similar things. These cookies
                            may be set by third parties, in which case this site has no ability to read or write these
                            cookies.
                        </li>
                        <li>Other third-party cookies for things like Facebook or Twitter sharing. These cookies will
                            generally be set by the third-party independently, so this site will have no ability to
                            access them.
                        </li>
                        <hr>
                        <h2>Google cookies</h2>

                        <p>[<em>Midnight Order</em> uses Google Analytics to analyse the use of this website. Google
                            Analytics generates statistical and other information about website use by means of cookies,
                            which are stored on users' computers. The information generated relating to our website is
                            used to create reports about the use of the website. Google will store and use this
                            information. Google's privacy policy is available at:
                            http://www.google.com/privacypolicy.html.]</p>

                        <p>[<em>Midnight Order</em> publishes Google Adsense interest-based advertisements on this
                            website. These are tailored by Google to reflect your interests. To determine your
                            interests, Google will track your behaviour across the web using cookies. You can view,
                            delete or add interest categories associated with your browser using Google's Ads Preference
                            Manager, available at: http://www.google.com/ads/preferences/. You can opt-out of the
                            Adsense partner network cookie at: http://www.google.com/privacy_ads.html. However, this
                            opt-out mechanism uses a cookie, and if you clear the cookies from your browser your opt-out
                            will not be maintained. To ensure that an opt-out is maintained in respect of a particular
                            browser, you should use the Google browser plug-in available at:
                            http://www.google.com/ads/preferences/plugin.]</p>
                        <hr>
                        <h2>Refusing cookies</h2>

                        <p>Most browsers allow you to refuse to accept cookies.</p>

                        <p>In Internet Explorer, you can refuse all cookies by clicking “Tools”, “Internet Options”,
                            “Privacy”, and selecting “Block all cookies” using the sliding selector.</p>

                        <p>In Firefox, you can adjust your cookies settings by clicking “Tools”, “Options” and
                            “Privacy”.</p>

                        <p>Blocking cookies will have a negative impact upon the usability of some websites.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/media/js/scripts.js"></script>
</div>
<footer>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="foo">
                            <tr>
                                <h6>
                                    <td><a href="/contact-us"> Contact Us</a></td>
                                    <td><a href="/credits">Credits</a></td>
                                    <td><a href="/terms-of-service"> Terms of service</a></td>
                                    <td><a href="/privacy-cookies-policy"> Cookie policies</a></td>
                                    <td><a href="#"> Top</a></td>
                                    <td><a href="/rss"> <img src="/media/img/rss.png" width=12 height=12/></a></td>
                                    <td><a href="http://www.warcraftlogs.com/guilds/13339/" target="wolName"> <img
                                            src="/media/img/wol.png" width=12 height=12/></a></td>
                                </h6>
                            </tr>
                            <h6>Website software by Sedi©2014-2014. All rights reserved.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>