{% extends "creation/base_nobar.html" %}
{% block content %}
    <div class="page-header">
        <h1>Credits</h1>
    </div>
    <a href="http://us.blizzard.com/en-us/company/about/legal-faq.html>"><h4>Background</h4></a>

    <p>The background is property of Blizzard Entertainment. </p>
    <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE"><h4>Styles</h4></a>

    <p>The styles belongs to Thomas Park of <a href="bootswatch.com">bootswatch.com</a> and are used on
        The MIT License.</p>
    <q><p>
{% endblock %}