<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Forum</title>
        <!-- Bootstrap -->
        <link href="/media/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
        <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
	</head>

	<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<ul class="nav nav-pills">
      <li><a href="/">Home</a></li>
      <li><a href="/policies">Policies</a></li>
      <li class="active"><a href="/forum">Forum</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/talents">Talents</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/awards">Awards</a></li>
      <li><a href="/video">Videos</a></li>
      <li><a href="/roster">Roster</a></li>
      <li><a href="/recruitment">Recruitment</a></li>
      <li><a href="/login">Log in</a></li>
    </ul>

    <a href="#" rel="item=2828">hai</a>
    <a href="http://www.wowhead.com/item=25697" class="q3" rel="pcs=25695:25696:25697">[Felstalker Bracers]</a>
	</body>

</html>