{% extends "creation/base.html" %}
{% block content %}
    <!-- News -->
    {% for n in news %}
        <h4><b>{{ n.title }} </b></h4>
        <p> {{ n.description | safe | urlize }}</p>
        <h6><em>by {{ n.name.username }} Published on {{ n.time }}</em></h6>
        <hr>
    {% endfor %}
    <!-- Number of pages -->
    <p class="">
        {% if number_of_pages|length > 1 %}
            {% for pages in number_of_pages %}
                <a href="/news/{{ pages }}">{{ pages }}</a>
            {% endfor %}
        {% endif %}
    </p>
    <!-- Button to add news -->
    {% if user.is_authenticated and user.groups.all.0.name == "Officer" %}
        <a href="/add_news" class="btn btn-primary btn-lg active" role="button">Add new news</a>
    {% endif %}
{% endblock %}

{% block progressbar %}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas progressbar" id="sidebar" role="navigation">
        <div class="panel panel-default">
            <b><h4 class="center">Progress</h4></b>
            {% for p in progress %}
                <b><h4 class="center">{{ p.0.raid }}</h4></b>
                <ul>
                    {% for x in p %}
                        <li class="{{ x.progress }}">
                            {% if x.progress.progress == 'Heroic' %}
                                <img src="/media/img/heroic.gif"/>
                            {% endif %}
                            {% if x.progress.progress == "Mythic" %}
                                <img src="/media/img/mythic.gif"/>
                            {% endif %}
                            {{ x.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}