<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Midnight Order - Members</title>
        <!-- Bootstrap -->
        <link href="/media/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
        <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
        <link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon" />
	</head>

	<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link href="/media/css/styles.css" rel="stylesheet" >
	<div class="foo"><ul class="nav nav-pills">
      <li><a href="/">Home</a></li>
      <li><a href="/policies">Policies</a></li>
      <li><a href="/forum">Forum</a></li>
      <li class="active"><a href="/members">Members</a></li>
      <li><a href="/recruitment">Recruitment</a></li>
      <li><a href="/login">Log in</a></li>
    </ul></div>
    <div class="foo"><table  class="table">
        <tr>
            <td> Picture </td>
            <td> Name </td>
            <td> Level </td>
            <td> Spec </td>
            <td> Class </td>
            <td> Guild Rank </td>
        </tr>
        {% block content %}
            {% for m in members2 %}
            <tr>
                <td>
                    <a href={{ m.armory }} target="tabName">
                        <img src = {{ m.thumbnail }} onerror="this.src='/media/img/logo3.jpg';" width=84 height=84 title="No picture avaiable" alt = "" class="img-rounded"/>
                    </a>
                </td>
                <td> {{ m.name }}</td>
                <td> {{ m.level }}</td>
                <td> {{ m.spec }}</td>
                <td> {{ m.class_name }}</td>
                <td> {{ m.rank_name }}</td>
            </tr>
            {% endfor %}
        {% endblock %}
    </table></div>
	</body>

</html>