<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Midnight Order - Members</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" title="slate" href="/media/css/bootstrap.min.css">
    <link rel="Shortcut icon" href="/media/img/favicon.ico"/>
    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <!-- Scripts -->
    <script src="/media/js/scripts2.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/media/js/jquery/jquery.cookie.js"></script
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/jquery_css.js"></script>
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/cookie.js"></script>
</head>

<body>
<script src="/media/js/bootstrap.min.js"></script>
<div id="nav" class="btn-group butn-pos">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Change style
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" rel="/media/css/bootstrap.min.css">Default CSS</a></li>
        <li><a href="#" rel="/media/css/yeti.css">Yeti</a></li>
        <li><a href="#" rel="/media/css/cerulean.css">Cerulean</a></li>
        <li><a href="#" rel="/media/css/cosmo.css">Cosmo</a></li>
        <li><a href="#" rel="/media/css/cyborg.css">Cyborg</a></li>
        <li><a href="#" rel="/media/css/darkly.css">Darkly</a></li>
        <li><a href="#" rel="/media/css/flatly.css">Flatly</a></li>
        <li><a href="#" rel="/media/css/journal.css">Journal</a></li>
        <li><a href="#" rel="/media/css/lumen.css">Lumen</a></li>
        <li><a href="#" rel="/media/css/readable.css">Readable</a></li>
        <li><a href="#" rel="/media/css/simplex.css">Simplex</a></li>
        <li><a href="#" rel="/media/css/spacelab.css">Spacelab</a></li>
        <li><a href="#" rel="/media/css/superhero.css">Superhero</a></li>
        <li><a href="#" rel="/media/css/united.css">United</a></li>
    </ul>
</div>
{% if logged_out %}
    <div class="alert alert-success alert-dismissable foo2">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Success!</strong> You've logged out properly.
    </div>
{% endif %}
<div class="div-pos">
    <div class="foo">
        <ul class="nav nav-pills">
            <li><a href="/">Home</a></li>
            <li><a href="/policies">Policies</a></li>
            <li><a href="/forums">Forum</a></li>
            <li>
            <li class="active"><a href="/members">Members</a></li>
            <li><a href="/recruitment">Recruitment</a></li>
            {% if not user.is_authenticated %}
                <li><a href="/login">Log in</a></li>
            {% else %}
                <li><a href="/log-out">Log out</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td> Picture</td>
                                <td> Name</td>
                                <td> Level</td>
                                <td> Spec</td>
                                <td> Class</td>
                                <td> Guild Rank</td>
                            </tr>
                            {% block content %}
                                {% for m in members2 %}
                                    <tr>
                                        <td>
                                            <a href={{ m.armory }} target="tabName">
                                                <img src={{ m.thumbnail }} onerror="this.src='/media/img/logo3.jpg';"
                                                     width=84 height=84 title="No picture avaiable" alt=""
                                                     class="img-rounded"/>
                                            </a>
                                        </td>
                                        <td> {{ m.name }}</td>
                                        <td> {{ m.level }}</td>
                                        <td> {{ m.spec }}</td>
                                        <td> {{ m.class_name }}</td>
                                        <td> {{ m.rank_name }}</td>
                                    </tr>
                                {% endfor %}
                            {% endblock %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="foo">
                                <tr>
                                    <h6>
                                        <td><a href="/contact-us"> Contact Us</a></td>
                                        <td><a href="/terms-of-service"> Terms of service</a></td>
                                        <td><a href="/privacy-cookies-policy"> Cookie policies</a></td>
                                        <td><a href="#"> Top</a></td>
                                        <td><a href="/rss"> <img src="/media/img/rss.png" width=12 height=12/></a></td>
                                        <td><a href="http://www.worldoflogs.com/guilds/184354/" target="wolName"> <img
                                                src="/media/img/wol.png" width=12 height=12/></a></td>
                                    </h6>
                                </tr>
                                <h6>Website software by Sedi©2014-2014. All rights reserved.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>