{% extends "creation/base_nobar.html" %}
{% block content %}
    <table class="table">
        <tr>
            <td> Picture</td>
            <td> Name</td>
            <td> Level</td>
            <td> Spec</td>
            <td> Class</td>
            <td> Guild Rank</td>
        </tr>
        {% for m in members2 %}
            <tr>
                <td>
                    <a href={{ m.armory }} target="tabName">
                        <img src={{ m.thumbnail }} onerror="this.src='/media/img/logo3.jpg';"
                             width=84 height=84 title="No picture avaiable" alt=""
                             class="img-rounded"/>
                    </a>
                </td>
                <td> {{ m.name }}</td>
                <td> {{ m.level }}</td>
                <td> {{ m.spec }}</td>
                <td> {{ m.class_name }}</td>
                <td> {{ m.rank_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}