{% extends "creation/base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Guild Policies</h1>
    </div>
    {% for p in policies %}
        <h2 id="{{ forloop.counter }}">{{ forloop.counter }}. {{ p.title }}</h2>
        <div class="span7"> {{ p.body|safe|linebreaks|urlize }} </div>
        <hr>
    {% endfor %}

    {% block sidebar %}
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas sidebar-nav" id="sidebar" role="navigation">
            <div class="list-group">
                {% for p in policies %}
                    <a href="#{{ forloop.counter }}" class="list-group-item">
                        <div class="sidebar">{{ p.title }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% endblock %}