{% extends "creation/base_nobar.html" %}
{% block content %}
    <div class="foo">
        <h1>Update profile</h1>
        <b>
            {{ error }}
            {{ error1 }}
        </b>
        <form action="/profile/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <table class="table table-condensed">
                <tr>
                    <td width="100">
                        <div class="span3">
                            <p>
                                <b><strong><i>&nbsp{{ user.username }}</i></strong></b>
                            </p>
                            <img src="/media/{{ avatar }}"
                                 onerror="this.src='/media/img/logo3.jpg';"
                                 alt="" width=150 height=150 class="img-rounded"
                                 alt="avatar">
                        </div>
                    </td>
                    <td>
                        <table class="table_background">
                            {{ form.as_table }}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-default" value="Update profile"/></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}