{% extends "creation/base_nobar.html" %}
{% block content %}
    {% if user.groups.all.0.name == "Officer" %}
        <table class="table">
            <tr>
                <td> Name</td>
                <td> Spec</td>
                <td> Class</td>
            </tr>
            {% for m in memb %}
                <tr>
                    <td>
                        <a href="{{ m.slug }}">{{ m.username }}</a>
                    </td>
                    <td> {{ m.spec }} </td>
                    <td> {{ m.class_1 }} </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="panel-body foo">
        <p></p>
        <b><h1>Application Form</h1></b>
        <hr>
        {{ csrftoken }}
        <form action="/recruitment/" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <table class="table_background">
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_irl_name">Real name: &nbsp</label></td>
                        <tr>
                            <td>{{ form.irl_name }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.irl_name.errors }}
                                {{ irl_name.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_age">Your age: &nbsp</label></td>
                        <tr>
                            <td>{{ form.age }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.age.errors }}
                                {{ age.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_country">Where are you from?: &nbsp</label></td>
                        <tr>
                            <td>{{ form.country }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.country.errors }}
                                {{ country.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_about_yourself">Tell us something about yourself: &nbsp</label>
                        </td>
                        <tr>
                            <td>{{ form.about_yourself }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.about_yourself.errors }}
                                {{ about_yourself.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_username">Character name: </label></td>
                        <tr>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.username.errors }}
                                {{ username.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_class_1">Class you are playing: </label></td>
                        <tr>
                            <td>{{ form.class_1 }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.class_1.errors }}
                                {{ class_1.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_spec">Your specialisation: </label></td>
                        <tr>
                            <td>{{ form.spec }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.spec.errors }}
                                {{ spec.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_wol_logs">Link to World of Logs: </label></td>
                        <tr>
                            <td>{{ form.wol_logs }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.wol_logs.errors }}
                                {{ wol_logs.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_professions">Your professions: </label></td>
                        <tr>
                            <td>{{ form.professions }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.professions.errors }}
                                {{ professions.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_previous_guilds">Previous guilds and why you left: </label></td>
                        <tr>
                            <td>{{ form.previous_guilds }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.previous_guilds.errors }}
                                {{ previous_guilds.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_contacs">Do you know anyone inside guild?: </label></td>
                        <tr>
                            <td>{{ form.contacs }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.contacs.errors }}
                                {{ contacs.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_reason">Why would you like to join us?: </label></td>
                        <tr>
                            <td>{{ form.reason }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.reason.errors }}
                                {{ reason.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_questions">Do you have any questions to us?: </label></td>
                        <tr>
                            <td>{{ form.questions }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.questions.errors }}
                                {{ questions.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_rules">Did you read rules?: </label></td>
                        <tr>
                            <td>{{ form.rules }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.rules.errors }}
                                {{ rules.error }}</td>
                        </tr>
                    </div>
                </tr>
                <tr>
                    <div class="fieldWrapper">
                        <td><label for="id_experience">What's your raiding experience?: </label></td>
                        <tr>
                            <td>{{ form.experience }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.experience.errors }}
                                {{ experience.error }}</td>
                        </tr>
                    </div>
                </tr>
            </table>
            <td><input type="submit" class="btn btn-default" value="Send application"/></td>
        </form>
        </div>
    {% endif %}
{% endblock %}