{% extends "creation/base_nobar.html" %}
{% block content %}
    <div class="panel-body register-user">
        {% if not user.is_authenticated %}
            <p></p>
            {{ csrftoken }}
            <form action="/register/" method="post">
                {% csrf_token %}
                <p style="color:#FF0000"><b>{{ error }}</b></p>
                {{ form }}
                <input type="submit" class="btn btn-default" value="Register"/>
            </form>
        {% else %}
            You are already logged in. Go to <a href="/">home.</a>
        {% endif %}
    </div>
{% endblock %}