{% extends "creation/base.html" %}
{% block content %}
    <b><h1>{{ register.username }}'s Application</h1></b>
    <hr>
    <table class="table_background">
        <tr>
            <td>Real name:</td>
            <td>{{ register.name }}</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{ register.age }}</td>
        </tr>
        <tr>
            <td>From:</td>
            <td>{{ register.country }}</td>
        </tr>
        <tr>
            <td>About:</td>
            <td>{{ register.about_yourself }}</td>
        </tr>
        <tr>
            <td>Character name:</td>
            <td>{{ register.username }}</td>
        </tr>
        <tr>
            <td>Class:</td>
            <td>{{ register.class1 }}</td>
        </tr>
        <tr>
            <td>Specialisation:</td>
            <td>{{ register.spec }}</td>
        </tr>
        <tr>
            <td>World of Logs:</td>
            <td>{{ register.wol_logs }}</td>
        </tr>
        <tr>
            <td>Professions:</td>
            <td>{{ register.professions }}</td>
        </tr>
        <tr>
            <td>Reason of leaving previous guilds:</td>
            <td>{{ register.previous_guilds }}</td>
        </tr>
        <tr>
            <td>Knowledge of other people in guild:</td>
            <td>{{ register.contacs }}</td>
        </tr>
        <tr>
            <td>Reason to join us:</td>
            <td>{{ register.reason }}</td>
        </tr>
        <tr>
            <td>Questions to us:</td>
            <td>{{ register.questions }}</td>
        </tr>
        <tr>
            <td>Raiding experience:</td>
            <td>{{ register.experience }}</td>
        </tr>
    </table>
{% endblock %}