body {
    padding-bottom: 50px;
    #background-image: url('/media/img/logo_new.png'), url('/media/img/background_3.jpg');
    background-color: rgb(19, 10, 11);
    background-repeat: no-repeat;
    background-size: 100%;
}

div {
    text-align: left;
    margin: 0 auto 0 auto;
}

.div-pos {
    margin-top: 170px;
    #opacity: 0.7;
    color: White;
}

.butn-pos {
    color: red;
    position: absolute;
    top: 10px;
    right: 40px;
}

.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}

.panel-default {
    color: #c8c8c8;
    background-color: rgba(62, 68, 76, 0.6);
    border-color: rgba(0, 0, 0, 0.4);
}

.featuredImg {
    margin-bottom: 15px;
}

.sidebar-nav {
    position: fixed;
    top: 250px;
    right: 20px;
}

.footer-logo {
    padding-top: 10px;
}

.foo {
    text-align: left;
    width: 50%;
    background-color: transparent;
    margin: 0 auto 0 auto;
}

.foo2 {
    text-align: left;
    width: 50%;
    margin: 0 auto 0 auto;
}

.table {
    background-color: transparent;
}

.table_background {
    background-color: transparent;
}

.text_size {
    width: 400px;
    height: 50px;
}

h1 {
    text-align: center
}

.text_center {
    text-align: center
}


.register-user{
	text-align: left;
	width: 50%;
	background-color: transparent;
	margin: 0 auto 0 auto;
}
